<!-- 
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajoutez vos thèmes
    </ion-title>
    
  </ion-toolbar>
</ion-header> -->

<!-- 
<form (ngSubmit)="logForm()">
  <ion-item>
    <ion-label>Nouveau thème : </ion-label>
    <ion-input type="text" [(ngModel)]="todo.title" name="name"></ion-input>
  </ion-item>
 
  <button ion-button type="submit" block>Ajouter Thème</button>
</form> -->


<!-- 
<ion-content [fullscreen]="true">

  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Nom</ion-label>
      <iont-input type="text" name="Number" ngModel placeholder="Number"> <br>
    </ion-item>
    
    <button type="submit">Ajouter Film</button>

  </form>
</ion-content> -->