<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bibli">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="film">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Thèmes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="newFilms">
      <ion-icon name="star"></ion-icon>
      <ion-label>New Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="newThemes">
      <ion-icon name="square"></ion-icon>
      <ion-label>New Themes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
